include README.rst
recursive-include transform *.py
recursive-include transform *.pyx
recursive-include tests *.py
include *.txt
include *.rst
include sample.fits
include *.ipynb
recursive-include docs *.txt